$white: #fff;
$blue-1: #f5f7ff;
$blue-2: #4b49ac;
$black: #000;
$gray-dark: #0f1531;
$grey-1: #6c7383;
$grey-2: #eee;
$grey-3: #ced4da;
$grey-4: #495057;
$shadow-1: #ddd;
$overlay: rgba(0, 0, 0, 0.4);
