//padding
$padding-1: 2rem;
$padding-2: 4vh;

//width
$sidebar-width: 14.6875rem;
$navbar-height: 3.75rem;
$sidebar-width-icon: 4.375rem;
$sidebar-width-1: 29.375vh;
$navbar-height-1: 7.5vh;
$sidebar-width-icon-1: 8.75vh;

//border radius
$border-radius: 1.25rem;
$border-radius-1: 0.9375rem;
$border-radius-2: 1rem;
$border-radius-3: 2vh;
$border-radius-4: 1.875vh;
$border-radius-5: 2.5vh;

//animation
$animation-duration: 0.7s;
$animation-timing: ease-in-out;
