$white-2: rgba(255, 255, 255, 0.5);
$white-3: #f3f2f0;
$white-4: rgba(255, 255, 255, 0.75);
$white-5: rgba(255, 255, 255, 0.8);
$black-2: #343232;

$pink-1: #ff6ecb;
$pink-2: #ff9ce7;
$purple-1: #6e63b3;
$yellow-1: #ffd80d;
$yellow-2: #f0b700;
$yellow-3: #febf47;
$yellow-4: #fce07f;
$oranger-1: #fdc927;
$orange-2: rgba(253, 238, 206, 0.2);
$orange-3: rgba(253, 238, 206, 0.5);
$blue: #399ffe;
$green-1: rgba(18, 171, 15, 1);
$overlay-1: rgba(0, 0, 0, 0.9);
