@use "./variables/mainColors" as *;
@use "./variables/mediaQuery" as *;
@use "./variables/mainVariables" as *;
@use "./placeholders" as *;
@use "./mixins" as *;
@use "./fonts" as *;

$gap: 0.75rem;
$gap-1: 1.5vh;
.page-container {
  .navbar {
    background-color: $white-1;
    box-shadow: 0px 0.3125rem 1.3125rem -0.3125rem $shadow-1;
    .navbar-brand-wrapper {
      width: $sidebar-width-1;
      height: $navbar-height-1;
      background-color: $white-1;
      gap: $gap-1;
      @include mediaQuery($medScreen_min_width) {
        & {
          width: $sidebar-width;
          height: $navbar-height;
          gap: $gap;
        }
      }
      .navbar-brand {
        width: calc(($sidebar-width-1 - $gap-1) * 0.4);
        padding: 0.5vh 0;
        margin-right: 0;
        font-size: 3vh;
        @include mediaQuery($medScreen_min_width) {
          & {
            width: calc(($sidebar-width - $gap) * 0.4);
            padding: 0.25rem 0;
            font-size: 1.5rem;
          }
        }
        img {
          max-width: 100%;
          margin: auto;
          vertical-align: middle;
        }
      }
      .brand-title {
        flex-grow: 1;
        color: $gray-dark;
        font-family: NotoKufiArabic-SemiBold;
        font-size: 2vh;
        @include mediaQuery($medScreen_min_width) {
          & {
            font-size: 1rem;
          }
        }
      }
    }
  }
  .page-body-wrapper {
    padding-top: $navbar-height-1;
    @include mediaQuery($medScreen_min_width) {
      & {
        padding-top: $navbar-height;
      }
    }
    .sidebar {
      height: calc(100vh - $navbar-height-1);
      width: $sidebar-width-1;
      background-color: $white-1;
      font-family: NotoKufiArabic-SemiBold;
      @include mediaQuery($medScreen_min_width) {
        & {
          height: calc(100vh - $navbar-height);
          width: $sidebar-width;
        }
      }
      .nav {
        padding: 2.9vh 2vh;
        @include mediaQuery($medScreen_min_width) {
          & {
            padding: 1.45rem 1rem;
          }
        }
        .nav-item {
          .nav-link {
            padding: 1.625vh 3.875vh 1.625vh 2vh;
            gap: 1.5vh;
            font-size: 2vh;
            color: $grey-5;
            border-radius: 1vh;
            @include mediaQuery($medScreen_min_width) {
              & {
                padding: 0.8125rem 1.937rem 0.8125rem 1rem;
                gap: 0.75rem;
                font-size: 1rem;
                border-radius: 0.5rem;
              }
            }
            &.active {
              background-color: $blue-2;
              color: $white-1;
            }
          }
        }
      }
    }
    .main {
      width: calc(100% - $sidebar-width-1);
      height: calc(100vh - $navbar-height-1);
      padding: 4.75vh;
      background-color: $blue-1;
      @include mediaQuery($medScreen_min_width) {
        & {
          width: calc(100% - $sidebar-width);
          height: calc(100vh - $navbar-height);
          padding: 2.375rem;
        }
      }
      .content-wrapper {
        padding: 3vh;
        background-color: $white-1;
        border-radius: $border-radius;
        @include mediaQuery($medScreen_min_width) {
          & {
            padding: 1.5rem;
          }
        }
      }
    }
  }
}
